{% extends 'part/base.html' %}

{% block content %}
    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center mb-4">Reset Password</h2>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.email.label_tag }}
                                <input type="email" id="id_email" name="email" placeholder="Enter your email" class="form-control" required>
                            </div>
                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-primary">Reset Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

