<!-- verify_otp.html -->

{% extends 'part/base.html' %}
{% block content %}
    <div class="container mt-15 mb-15">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center mb-4">Verify OTP</h2>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="otp">Enter OTP:</label>
                                <input type="text" id="otp" name="otp" class="form-control" required>
                            </div>
                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-primary">Verify OTP</button>
                            </div>
                        </form>
                        <!-- Resend OTP Form -->
                        <div class="text-center mt-3">
                            <form action="{% url 'accounts:resend_otp' %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-secondary">Resend OTP</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
