{% extends 'admin_panel/base.html' %}
{% load static %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
          <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Color Management</h1>
                <div class="row">
                    <div class="col-lg-3 ms-5 mt-3">
                    </div>
                </div>
                <div class="container mt-4">
                    <h1>Add Color</h1>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        {{ color_form.as_p }}
                        
                
                        
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </form>
                </div> 
            </div>
        </main>
        </div>
    </div>
</div>

<!-- Your image cropping script here -->

{% endblock %}