{% extends 'admin_panel/base.html' %}
{% load static %}
{% block title %} Add Product Variants {% endblock %}
{% block  body %}
<section class="content-main">
    <div class="row">
        <div class="col-9">
            <div class="content-header">
                <h2 class="content-title">Add New Product Variant</h2>
                <div>
                    {% if error_messages %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for error_message in error_messages %}
                                    <li>{{ error_message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Variant Details</h4>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" action="{% url 'admin_panel:add-variant' %}" class="variant-form">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="id_color">Product:</label>
                            {{ variant_form.product }}
                            {{ variant_form.product.errors }}
                        </div>
                        
                        <div class="form-group">
                            <label for="id_color">Color:</label>
                            {{ variant_form.color }}
                            {{ variant_form.color.errors }}
                        </div>
                        
                        <div class="form-group">
                            <label for="id_price">Price:</label>
                            {{ variant_form.price }}
                            {{ variant_form.price.errors }}
                        </div>
                        
                        <div class="form-group">
                            <label for="id_old_price">Old Price:</label>
                            {{ variant_form.old_price }}
                            {{ variant_form.old_price.errors }}
                        </div>
                        
                        <div class="form-group">
                            <label for="id_stock_count">Stocks:</label>
                            {{ variant_form.stock_count }}
                            {{ variant_form.stock_count.errors }}
                        </div>
                        
                        <div class="form-group">
                            <label for="id_image">Main Image:</label>
                            {{ variant_form.image }}
                            {{ variant_form.image.errors }}
                        </div>

                        <div id="additionalVariantImages">
                            {% for i in additional_image_count %}
                            <div class="input-upload">
                                <label for="variant_image{{ i }}">Variant Image {{ i }}</label>
                                <input id="variant_image{{ i }}" class="form-control" type="file" name="additional_image_{{ i }}">
                                <img id="variantImagePreview{{ i }}" src="#" alt="Variant Image {{ i }}" style="max-width: 100%; height: auto; display: none;">
                            </div>
                            {% endfor %}
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Add Variant</button>
                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}






{% comment %} {% extends 'admin_panel/base.html' %}
{% load static %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">ADD Product Variant</h1>
                    <div class="row">
                        <div class="col-md-10 ms-5 mt-5">
                    
                        </div>
                    </div>

                    <div class="container mt-4">
                        <h1>Add Variant</h1>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            
                            {{ variant_form.as_p }}
                            
                    
                            
                            <input type="submit" class="btn btn-primary" value="Submit">
                        </form>
                    </div> 
                </div>
            </main>
        </div>
    </div>
</div>

<!-- Your image cropping script here -->

{% endblock %} {% endcomment %}
