{% extends 'part/base.html' %}
{% load static %}
{% block title %} Add product {% endblock %}
{% block  body %}
<section class="content-main">
    <div class="row">
        <div class="col-9">
            <div class="content-header">
                <h2 class="content-title">Add New Product</h2>
                <div>
                    {% if error_messages %}
                 <div class="alert alert-danger">
                <ul>
                {% for error_message in error_messages %}
                    <li>{{ error_message }}</li>
                {% endfor %}
                </ul>
                </div>
                {% endif %}
                    
                   
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Product Details</h4>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6">
                            
                                <div class="mb-4">
                                    <label for="{{form.title.id_for_label}}" class="form-label">Product name</label>
                                    <input placeholder="Product name" type="text" class="form-control" name="title" required="True">
                                   
                                    <div class="row gx-2">
                                         
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <label for="{{form.stock_count.id_for_label}}" class="form-label">Stock Count </label>
                                    <input placeholder="Stock Count" type="text" class="form-control" name="stock_count" required="True" min="0">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="{{form.description.id_for_label}}" class="form-label">Description</label>
                            <textarea placeholder="Type here" class="form-control" rows="4" name="description"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <label for="{{form.old_price.id_for_label}}" class="form-label">Max price</label>
                                    <div class="row gx-2">
                                        <input placeholder="$" type="text" class="form-control" name="old_price" required="True" min="0">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <label for="{{form.price.id_for_label}}" class="form-label">price</label>
                                    <input placeholder="$" type="text" class="form-control" name="price" required="True" min="0">
                                </div>
                            </div>
                        </div>  
                        
                </div>
            </div> <!-- card end// -->
                        </div>
                        <div class="col-lg-4">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h4>Media</h4>
                                </div>
                                <div class="card-body">
                                    <div class="input-upload">
                                        <label for="{{ form.image.id_for_label }}">Image</label>
                                        <input class="form-control" type="file" required="True" name="image_feild">
                                    </div>
                                </div>
                            </div> <!-- card end// -->
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h4>Category </h4>
                                </div>
                                <div class="card-body">
                                    <div class="row gx-2">
                                        <div class="col-sm-6 mb-3">
                                            <label for="{{ form.category.id_for_label }}" class="form-label">Category</label>
                                            <select class="form-select" name="category" required="True">
                                                {% for category in categories %}
                                                {% if category.cid is not None %}
                                                    <option value="{{ category.title }}">{{ category.title }}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="card mb-4">
                                            <div class="card-header">
                                                <h4>Additional Images</h4>
                                            </div>
                                            <div class="card-body">
                                                {% for i in additional_image_count %}
                                                    <div class="input-upload">
                                                        <label for="product_image{{ i }}">Product Image {{ i }}</label>
                                                        <input class="form-control" type="file" name="product_image{{ i }}">
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        
                                    </div> <!-- row.// -->
                                </div>
                                
                            </div> <!-- card end// -->
                      
            <div class="card mb-4">
                <div class="mb-4">
                    <button type="submit" class="btn btn-primary btn-sm rounded col-lg-12">Add Product</button>
                </div>
            </div>
        </form>
        </div>
    </div>
</section> 

{% endblock %}