{% extends 'admin_panel/base.html' %}
{% load static %}


{% block body %}





<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 mt-4">
            <div class="card">
                <div class="card-body p-4">
                    <form method="POST">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label for="{{ form.code.id_for_label }}" class="form-label">Code</label>
                            {{ form.code }}
                        </div>

                        <div class="mb-3">
                            <label for="{{ form.description.id_for_label }}" class="form-label">Description</label>
                            {{ form.description }}
                        </div>

                        <div class="mb-3">
                            <label for="{{ form.discount.id_for_label }}" class="form-label">Discount</label>
                            {{ form.discount }}
                        </div>

                        <div class="mb-3">
                            <label for="{{ form.expiration_date.id_for_label }}" class="form-label">Expiration Date</label>
                            {{ form.expiration_date }}
                        </div>

                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="{{ form.is_active.id_for_label }}" {{ form.is_active }}>
                            <label class="form-check-label" for="{{ form.is_active.id_for_label }}">Is Active</label>
                        </div>


                        <div class="mb-3">
                            <label for="{{ form.minimum_purchase_value.id_for_label }}" class="form-label">Minimum Purchase Value</label>
                            {{ form.minimum_purchase_value }}
                        </div>
                        
                        <div class="mb-3">
                            <label for="{{ form.maximum_purchase_value.id_for_label }}" class="form-label">Maximum Purchase Value</label>
                            {{ form.maximum_purchase_value }}
                        </div>
                        
                        <div class="mb-3">
                            <label for="{{ form.Usage_count.id_for_label }}" class="form-label">Usage Count</label>
                            {{ form.Usage_count }}
                        </div>

                        <div class="d-grid">
                            <button class="btn btn-primary" type="submit">Update Coupon</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}