{% extends 'admin_panel/base.html' %}
{% load static %}
{% block body %}

<div class="text-center">
<h1>Banner Display</h1></div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Banner Name</th>
            <th scope="col">Images</th>
            <th scope="col">Action</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for banner in banners %}
            <tr>
                <td>{{ banner.banner_name }}</td>
                <td>
                    {% if banner.images.all %}
                        {% for image in banner.images.all %}
                            <img src="{{ image.images.url }}" class="img-fluid" alt="{{ banner.banner_name }}" style="max-width: 150px; max-height: 100px;">
                        {% endfor %}
                    {% else %}
                        No images available
                    {% endif %}
                </td>
                <td>
                    <form method="post" action="{% url 'store:toggle_set' banner.id %}" id="toggleForm">
                        {% csrf_token %}
                        {% if not banner.set %}
                            <button type="submit" class="btn btn-success btn-sm">Set As Default Banner</button>
                        {% else %}
                        <div>
                            <span class="text-success">This banner is already set as the default banner.</span>
                        </div>
                        {% endif %}
                    </form>
                </td>
                <td>
                    <a href="#" class="btn btn-danger btn-sm" onclick="confirmDelete('{{ banner.id }}')">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    function confirmDelete(bannerId) {
        if (confirm("Are you sure you want to delete this banner?")) {
            window.location.href = "{% url 'admin_panel:delete_banner' 0 %}".replace('0', bannerId);
        }
    }
</script>

{% endblock %}