{% extends 'part/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- Include any alert messages here if needed -->

            <h4 class="mb-4">Change Password</h4>
            <form action="{% url 'store:change_password' %}" method="POST">
                {% csrf_token %}
                <!-- Old Password -->
                <div class="form-group">
                    <label for="old_password">Old Password</label>
                    <input type="password" class="form-control" id="old_password" name="old_password" placeholder="Old Password" required>
                </div>

                <!-- New Password -->
                <div class="form-group">
                    <label for="new_password1">New Password</label>
                    <input type="password" class="form-control" id="new_password1" name="new_password1" placeholder="New Password" required>
                </div>

                <!-- Confirm New Password -->
                <div class="form-group">
                    <label for="new_password2">Confirm New Password</label>
                    <input type="password" class="form-control" id="new_password2" name="new_password2" placeholder="Confirm New Password" required>
                </div>

                <!-- Submit Button -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}